@media(min-width:1440px) {
    .cont {
        max-width: 100vw;
    }

    header {
        background-image: url(./assets/header-bg-des.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 50%;
        background-position-x: center;
        padding: 32px 40px;
    }

    h1 {
        margin-top: 72px;
        margin-bottom: 170px;
    }

    main {
        max-width: 1440px;
        margin: 0 auto;
    }

    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .section-box1 {
        order: 1;
    }

    .section-box2 {
        padding: 0;
    }

    .section-box2-txt {
        margin-top: 154px;
    }

    h3 {
        text-align: left;
    }

    #glass {
        order: 1;
    }

    section a {
        text-align: left;
    }

    .cherry {
        background-image: url(./assets/cherry-bg-des.svg);
    }

    .orange {
        background-image: url(./assets/orange-bg-des.svg);
    }

    .section3 {
        position: relative;
        top: -5px;
    }

    .section2 {
        position: relative;
        top: -2px;
    }

    .cherry,
    .orange {
        padding: 396px 190.5px 56px 190.5px;
    }

    article {
        padding: 162px 163px;

    }

    .stuff {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
    }

    p {
        font-size: 20px;
    }

    figure {
        grid-template-columns: repeat(4, 1fr);
        gap: 0;
    }

    .burger-menu,
    .burger-btn {
        display: none;
    }

    .header-nav {
        display: block;
    }

    .header-nav ul {
        display: flex;
        flex-direction: row;
        gap: 48px;
    }

    .header-nav a {
        font-size: 18px;
        line-height: 165%;
        text-align: left;
        font-weight: 600;
        color: white;
    }
    
}