@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');



img,
picture {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

figure picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: -0.5px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100dvh;
    font-family: "Barlow", sans-serif;

}

.cont {
    margin: 0 auto;
    width: 100%;
  


}

header {
    position: relative;
    width: 100%;
    height: 538px;
    background-image: url(./assets/header-bg-mob.svg);
    padding: 32px 24px 140px 24px;
}

.burger-btn {
    display: grid;
    gap: 6px;
    background: local;
    border: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1,
h2,
section a,
h4,
h6,
.name {
    font-family: "Fraunces", serif;

}

h1 {
    text-transform: uppercase;
    color: var(--h1-color);
    font-size: 42px;
    line-height: 125%;
    letter-spacing: 6px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 48px;
    font-weight: 900;
}

h1+img {
    display: block;
    margin: 0 auto;
}

main {
    width: 100%;
    height: auto;
}

section {
    width: 100%;
    text-align: center;
}

.section-box1,
.section-box2 {
    width: auto;
    height: auto;
}

.section-box2 {
    padding: 67.5px 24px;
}

.section-box2-txt {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

h2 {
    color: var(--h2-color);
    font-size: 32px;
    line-height: 125%;
    font-weight: 900;

}

h3 {
    font-size: 18px;
    line-height: 165%;
    color: var(--h3-color);
    font-weight: 500;
}

a {
    text-decoration: none;
    cursor: pointer;
    display: block;

}

section a {
    line-height: 165%;
    letter-spacing: 1px;
    color: var(--section-a-color);
    font-weight: 900;
}

.cherry,
.orange {
    width: 100%;
    height: 600px;
    padding: 396px 18px 56px 18px;
}

.cherry {
    background-image: url(./assets/cherry-bg-mobile.svg);


}

.orange {
    background-image: url(./assets/orange-bg-mob.svg);

}

.section3-txt {
    width: 100%;
    height: auto;
    display: grid;
    gap: 32px;
}

h4 {
    font-size: 28px;
    font-weight: bold;
    line-height: 125%;
    color: var(--h4-color);
    opacity: 75%;
}

h5 {
    font-size: 16px;
    line-height: 170%;
    font-weight: 600;
    color: var(--h5-color);
}

article {
    width: 100%;
    height: auto;
    padding: 55px 22.5px;

    text-align: center;

}

.stuff {
    margin-top: 56px;
    width: 100%;
    height: auto;
    display: grid;
    gap: 56px;
}

h6 {
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 125%;
    color: var(--h6-color);
    font-weight: bold;

}

.article-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-box img {
    margin-bottom: 58px;
}

p {
    font-size: 18px;
    line-height: 165%;
    font-weight: 600;
    color: var(--p-color);
}

.author {
    width: 100%;
    height: auto;
    margin-top: 32px;
    display: grid;
    gap: 8px;

}

.name {
    color: #24303E;
    font-size: 18px;
    line-height: 125%;
    font-weight: 900;
}

.job {
    font-size: 14px;
    line-height: 180%;
    font-weight: 600;
    color: #A7AAAD;
}

figure {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    margin-bottom: 0;

}

footer {
    background-color: var(--footer-bg);
    width: 100%;
    height: auto;
    padding: 73.5px 38.5px;
    display: grid;
    place-items: center;

}

footer nav {
    margin-top: 40px;
}

ul {
    list-style-type: none;
}

footer nav ul {
    display: flex;
    flex-direction: row;
    gap: 56px;

}

footer nav a {

    color: #458D7E;
    text-align: left;
    font-size: 18px;
    line-height: 165%;
    font-weight: 600;
}

footer a:hover {
    transform: scale(1.2);
}

address {
    margin-top: 80px;
    display: grid;
    gap: 30px;
}

strong {
    color: var(--strong-color);

}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.burger-menu {
    width: 327px;
    height: 329px;
    background-image: url(./assets/burgermenu-bg.png);
    position: absolute;
    top: 82px;
    left: 24px;
    display: none;
}

.burger-nav {
    width: 100%;
    text-align: center;
    margin-top: 62px;
    display: grid;
    place-items: center;
}

.burger-nav a {
    color: var(--burger-nav-a-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 125%;
    display: block;
    width: 100px;


}

.burger-nav ul {
    display: grid;
    gap: 32px;
}

.show-hide {
    display: block;


}

.burger-nav a.clicked {
    background-color: #FAD400;
    ;
    border-radius: 28px;
    color: #24303E;
}

.header-nav {
    display: none;
}

.header-nav a.checked {
    transform: scale(1.2);


}