:root {
    --h1-color: #FFFFFF;
    --h2-color: #24303E;
    --h3-color: #808397;
    --h4-color: #24554A;
    --h5-color: #3E7467;
    --h6-color: #A7AAAD;
    --p-color: #5B636D;
    --footer-bg: #90D4C6;
    --section-a-color: #24303E;
    --strong-color: #24554A;
    --burger-nav-a-color: #808397;
    --header-nav-a-color:#FFFFFF;
}